body { background: #d388e9; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-product-0 { color: #e65b62; font-size: 17px; margin-bottom: 5px; }
.block-order-1 { color: #8411c9; font-size: 19px; margin-bottom: 5px; }
.block-payment-2 { color: #c02850; font-size: 19px; margin-bottom: 5px; }
.block-product-3 { color: #98ad4b; font-size: 20px; margin-bottom: 5px; }
.block-product-4 { color: #d0bff3; font-size: 14px; margin-bottom: 5px; }
.block-cluster-5 { color: #b29b6c; font-size: 15px; margin-bottom: 5px; }